body{
    background-color: rgb(245, 255, 255);
    padding-top: 100px; /* reserve space for the fixed header */
}
.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.common{
    border: 2px solid white;
    position: absolute;
}
.nav{
    /* place navigation on top of the header */
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: rgba(255,255,255,0.9);
    font-family: "Original Surfer", sans-serif;
    color: #000;
    z-index: 6; /* higher than header */
    font-size: medium;
    padding: 5px;
    border-radius: 3px;
}
.header{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Original Surfer", sans-serif;
    left: 0px;
    right: 0px;
    top: 0px;
    height: auto;
    width: 100%;
    position: relative; /* keep header in flow; nav will overlay it */
    z-index: 5; /* lower than .nav */
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.main{
    background-color: rgb(211, 254, 255);
    position: relative;
    font-family: "Shadows Into Light", cursive;
    color:rgb(6, 61, 72);
    text-align: center;
    font-size: larger;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 0;
}
.youtube-video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center
}
.paragraph{
    font-family: "Original Surfer", sans-serif;
    color: rgb(70, 111, 123);
    font-size: large;
}
.footer{
    position: relative;
    background-color: white;
    text-align: center;
    font-family: "Original Surfer", sans-serif;
    font-style: italic;
    font-size: 80%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    z-index:4;
}
img{
    width: 45%;
    display: block;

    margin-left: auto;
    margin-right: auto;
    /* <center>anything in here get centered</center> */
}

